
<section id="start">

    <div class="body">
        <div class="class">
            <section class="warrior" ng-click="changeState('warrior')">
                <div class="avatars"></div>
                <h1>warrior</h1>
            </section>
        </div>
        <div class="class">
            <section class="berserker">
                <div class="avatars"></div>
                <h1>berserker</h1>
            </section>
        </div>
        <div class="class">
            <section class="sorcerss">
                <div class="avatars"></div>
                <h1>sorcerss</h1>
            </section>
        </div>
        <div class="class">
            <section class="valkyria">
                <div class="avatars"></div>
                <h1>valkyria</h1>
            </section>
        </div>
        <div class="class">
            <section class="tamer">
                <div class="avatars"></div>
                <h1>tamer</h1>
            </section>
        </div>
        <div class="class">
            <section class="ranger">
                <div class="avatars"></div>
                <h1>ranger</h1>
            </section>
        </div>
        <div class="class">
            <section class="witch">
                <div class="avatars"></div>
                <h1>witch</h1>
            </section>
            <section class="wizard">
                <div class="avatars"></div>
                <h1>wizard</h1>
            </section>
        </div>
        <div class="class">
            <section class="blade_f">
                <div class="avatars"></div>
                <h1>blade</h1>
            </section>
            <section class="blade_m">
                <div class="avatars"></div>
                <h1>blade</h1>
            </section>
        </div>
        <div class="class">
            <section class="kunoichi">
                <div class="avatars"></div>
                <h1>kunoichi</h1>
            </section>
            <section class="ninja">
                <div class="avatars"></div>
                <h1>ninja</h1>
            </section>
        </div>
    </div>
    <span class="mid"></span>
</section>